MAIS.Web/Web References/UserRequestService/AEGIS_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AEGIS_WS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aegisservices.secdev.dodd.ohio.gov/AEGIS_WS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://aegisservices.secdev.dodd.ohio.gov/AEGIS_WS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_forAgency_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser_forAgency" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_forAgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser_forAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_Nurse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser_Nurse" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_Nurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser_NurseResponse" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_UpdateNurse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNurse" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_UpdateNurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNurseResponse" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IAEGIS_WS_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAEGIS_WS">
    <wsdl:operation name="CreateNewUser_forAgency">
      <wsdl:input wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUser_forAgency" message="tns:IAEGIS_WS_CreateNewUser_forAgency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUser_forAgencyResponse" message="tns:IAEGIS_WS_CreateNewUser_forAgency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser_Nurse">
      <wsdl:input wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUser_Nurse" message="tns:IAEGIS_WS_CreateNewUser_Nurse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUser_NurseResponse" message="tns:IAEGIS_WS_CreateNewUser_Nurse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNurse">
      <wsdl:input wsaw:Action="http://tempuri.org/IAEGIS_WS/UpdateNurse" message="tns:IAEGIS_WS_UpdateNurse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAEGIS_WS/UpdateNurseResponse" message="tns:IAEGIS_WS_UpdateNurse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUser" message="tns:IAEGIS_WS_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAEGIS_WS/CreateNewUserResponse" message="tns:IAEGIS_WS_CreateNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAEGIS_WS" type="tns:IAEGIS_WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser_forAgency">
      <soap:operation soapAction="http://tempuri.org/IAEGIS_WS/CreateNewUser_forAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser_Nurse">
      <soap:operation soapAction="http://tempuri.org/IAEGIS_WS/CreateNewUser_Nurse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNurse">
      <soap:operation soapAction="http://tempuri.org/IAEGIS_WS/UpdateNurse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IAEGIS_WS/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AEGIS_WS">
    <wsdl:port name="BasicHttpBinding_IAEGIS_WS" binding="tns:BasicHttpBinding_IAEGIS_WS">
      <soap:address location="http://aegisservices.secdev.dodd.ohio.gov/AEGIS_WS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>