MAIS.Web/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" />
  <xs:import schemaLocation="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DODDSVC.Enums" />
  <xs:import schemaLocation="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DODDSVC" />
  <xs:element name="GetUsersByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strRole" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetUsersByRoleResult" nillable="true" type="q2:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetUsersByUserGroupResult" nillable="true" type="q3:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DODDSVC.Enums" minOccurs="0" name="userType" type="q4:UserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetUsersByUserTypeResult" nillable="true" type="q5:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByProviderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DODDSVC.Enums" minOccurs="0" name="providerType" type="q6:ProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByProviderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetUsersByProviderTypeResult" nillable="true" type="q7:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetProviderUserInfoResult" nillable="true" type="q8:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingAgentUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingAgentUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DODDSVC.DTO" minOccurs="0" name="GetBillingAgentUserInfoResult" nillable="true" type="q9:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByUserCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByUserCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdByUserCodeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DODDSVC" minOccurs="0" name="createUserData" nillable="true" type="q10:UserReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DODDSVC" minOccurs="0" name="createUserData" nillable="true" type="q11:UserReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DODDSVC" minOccurs="0" name="emailParams" nillable="true" type="q12:EmailReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosChangeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DODDSVC" minOccurs="0" name="UserData" nillable="true" type="q13:UserReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosChangeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CognosChangeUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosAddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DODDSVC" minOccurs="0" name="UserData" nillable="true" type="q14:UserReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosAddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CognosAddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosDisableUserAcct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosDisableUserAcctResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CognosDisableUserAcctResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosEnableUserAcct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CognosEnableUserAcctResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CognosEnableUserAcctResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>