MAIS.Web/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DODDSVC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DODDSVC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserReference">
    <xs:sequence>
      <xs:element name="AdminUserID" nillable="true" type="xs:string" />
      <xs:element name="address1" nillable="true" type="xs:string" />
      <xs:element name="city" nillable="true" type="xs:string" />
      <xs:element name="cnt" nillable="true" type="xs:string" />
      <xs:element name="effdate" type="xs:dateTime" />
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="enddate" type="xs:dateTime" />
      <xs:element name="expirationDate" type="xs:dateTime" />
      <xs:element name="f4" nillable="true" type="xs:string" />
      <xs:element name="f5" nillable="true" type="xs:string" />
      <xs:element name="fName" nillable="true" type="xs:string" />
      <xs:element name="groupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasError" type="xs:boolean" />
      <xs:element name="lName" nillable="true" type="xs:string" />
      <xs:element name="mName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="messages" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="phonegroupid" nillable="true" type="xs:string" />
      <xs:element name="roleid" nillable="true" type="xs:string" />
      <xs:element name="state" nillable="true" type="xs:string" />
      <xs:element name="status" nillable="true" type="xs:string" />
      <xs:element name="systemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      <xs:element name="userId" nillable="true" type="xs:string" />
      <xs:element name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserReference" nillable="true" type="tns:UserReference" />
  <xs:complexType name="EmailReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplyTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sendCC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailReference" nillable="true" type="tns:EmailReference" />
</xs:schema>