MAIS.Business/Service References/CBOSSWebService/1.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cboss.com/DataTransferTokenizer/1.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicTokenization" targetNamespace="http://www.cboss.com/DataTransferTokenizer/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Tokenization_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_Tokenization_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cboss.com/DataTransferTokenizer/1.0/Imports">
      <xsd:import namespace="http://www.cboss.com/DataTransferTokenizer/1.0" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cboss.DataTransferTokenizer.Application.Presentation" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Tokenization_Detokenize_InputMessage">
    <wsdl:part name="parameters" element="tns:Detokenize" />
  </wsdl:message>
  <wsdl:message name="Tokenization_Detokenize_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetokenizeResponse" />
  </wsdl:message>
  <wsdl:message name="Tokenization_Detokenize_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Cboss.DataTransferTokenizer.Application.Presentation" name="detail" element="q1:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="Tokenization_Tokenize_InputMessage">
    <wsdl:part name="parameters" element="tns:Tokenize" />
  </wsdl:message>
  <wsdl:message name="Tokenization_Tokenize_OutputMessage">
    <wsdl:part name="parameters" element="tns:TokenizeResponse" />
  </wsdl:message>
  <wsdl:portType name="Tokenization">
    <wsdl:operation name="Detokenize">
      <wsdl:input wsaw:Action="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Detokenize" message="tns:Tokenization_Detokenize_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/DetokenizeResponse" message="tns:Tokenization_Detokenize_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/DetokenizeNotFoundFaultFault" name="NotFoundFaultFault" message="tns:Tokenization_Detokenize_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tokenize">
      <wsdl:input wsaw:Action="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Tokenize" message="tns:Tokenization_Tokenize_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/TokenizeResponse" message="tns:Tokenization_Tokenize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CBOSSWebServiceBasicBinding_Prod" type="tns:Tokenization">
    <wsp:PolicyReference URI="#BasicHttpBinding_Tokenization_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Detokenize">
      <soap:operation soapAction="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Detokenize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFaultFault">
        <soap:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Tokenize">
      <soap:operation soapAction="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Tokenize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CBOSSWebServiceWSBinding_Prod" type="tns:Tokenization">
    <wsp:PolicyReference URI="#WSHttpBinding_Tokenization_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Detokenize">
      <soap12:operation soapAction="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Detokenize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Tokenize">
      <soap12:operation soapAction="http://www.cboss.com/DataTransferTokenizer/1.0/Tokenization/Tokenize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicTokenization">
    <wsdl:port name="CBOSSWebServiceBasicBinding_Prod" binding="tns:CBOSSWebServiceBasicBinding_Prod">
      <soap:address location="https://cerberus2.aic.dmz/Services/DataTransfer/1.0/PublicTokenization.svc/basic" />
    </wsdl:port>
    <wsdl:port name="CBOSSWebServiceWSBinding_Prod" binding="tns:CBOSSWebServiceWSBinding_Prod">
      <soap12:address location="https://cerberus2.aic.dmz/Services/DataTransfer/1.0/PublicTokenization.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://cerberus2.aic.dmz/Services/DataTransfer/1.0/PublicTokenization.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>