MAIS.Web/Web References/UDSWebService/UDSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services">
      <s:element name="AddMultipageTifToQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="blob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="blobFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receivedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="indexes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMultipageTifToQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMultipageTifToQueueResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Result">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="AlreadyExists" />
          <s:enumeration value="InError" />
          <s:enumeration value="Invalid" />
          <s:enumeration value="EmptyFile" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddFileToQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="blob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="blobFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receivedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="indexes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFileToQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFileToQueueResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFileToQueueName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repoName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="blobFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receivedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="indexes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFileToQueueNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFileToQueueNameResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUDSId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numRows" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="batchId" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fulltext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indexUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkedOutUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsGenerics">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUDSIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUDSIdResult" type="tns:ArrayOfIndexedDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndexedDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndexedDocument" nillable="true" type="tns:IndexedDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndexedDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IndexUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckedOutUser" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Updated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Generics" type="tns:ArrayOfGenericIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGenericIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GenericIndex" nillable="true" type="tns:GenericIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenericIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchUDSName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repoName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numRows" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="batchId" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fulltext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indexUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkedOutUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsGenerics">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUDSNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUDSNameResult" type="tns:ArrayOfIndexedDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentTypeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentTypeIdResult" type="tns:ArrayOfDocumentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentType" nillable="true" type="tns:DocumentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentTypeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repoName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentTypeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentTypeNameResult" type="tns:ArrayOfDocumentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenericIndexesId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenericIndexesIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenericIndexesIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenericIndexesName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repoName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenericIndexesNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenericIndexesNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveToUDSId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repoId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="blob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="indexingUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rcvDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsGenerics">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveToUDSIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveToUDSIdResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveToUDSName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repoName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="indexingUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rcvDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsGenerics">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveToUDSNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveToUDSNameResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_old">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="policy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_oldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Validate_oldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="policy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResult" type="tns:ValidationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="tns:ArrayOfGenericIndex" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMultipageTifToQueueSoapIn">
    <wsdl:part name="parameters" element="tns:AddMultipageTifToQueue" />
  </wsdl:message>
  <wsdl:message name="AddMultipageTifToQueueSoapOut">
    <wsdl:part name="parameters" element="tns:AddMultipageTifToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="AddFileToQueueSoapIn">
    <wsdl:part name="parameters" element="tns:AddFileToQueue" />
  </wsdl:message>
  <wsdl:message name="AddFileToQueueSoapOut">
    <wsdl:part name="parameters" element="tns:AddFileToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="AddFileToQueueNameSoapIn">
    <wsdl:part name="parameters" element="tns:AddFileToQueueName" />
  </wsdl:message>
  <wsdl:message name="AddFileToQueueNameSoapOut">
    <wsdl:part name="parameters" element="tns:AddFileToQueueNameResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUDSIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUDSId" />
  </wsdl:message>
  <wsdl:message name="SearchUDSIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUDSIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUDSNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUDSName" />
  </wsdl:message>
  <wsdl:message name="SearchUDSNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUDSNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeId" />
  </wsdl:message>
  <wsdl:message name="GetDocumentTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentTypeNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeName" />
  </wsdl:message>
  <wsdl:message name="GetDocumentTypeNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenericIndexesIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenericIndexesId" />
  </wsdl:message>
  <wsdl:message name="GetGenericIndexesIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenericIndexesIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenericIndexesNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenericIndexesName" />
  </wsdl:message>
  <wsdl:message name="GetGenericIndexesNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenericIndexesNameResponse" />
  </wsdl:message>
  <wsdl:message name="SaveToUDSIdSoapIn">
    <wsdl:part name="parameters" element="tns:SaveToUDSId" />
  </wsdl:message>
  <wsdl:message name="SaveToUDSIdSoapOut">
    <wsdl:part name="parameters" element="tns:SaveToUDSIdResponse" />
  </wsdl:message>
  <wsdl:message name="SaveToUDSNameSoapIn">
    <wsdl:part name="parameters" element="tns:SaveToUDSName" />
  </wsdl:message>
  <wsdl:message name="SaveToUDSNameSoapOut">
    <wsdl:part name="parameters" element="tns:SaveToUDSNameResponse" />
  </wsdl:message>
  <wsdl:message name="Validate_oldSoapIn">
    <wsdl:part name="parameters" element="tns:Validate_old" />
  </wsdl:message>
  <wsdl:message name="Validate_oldSoapOut">
    <wsdl:part name="parameters" element="tns:Validate_oldResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="UDSServiceSoap">
    <wsdl:operation name="AddMultipageTifToQueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a multipage tiff to the indexing queue</wsdl:documentation>
      <wsdl:input message="tns:AddMultipageTifToQueueSoapIn" />
      <wsdl:output message="tns:AddMultipageTifToQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a file to the indexing queue</wsdl:documentation>
      <wsdl:input message="tns:AddFileToQueueSoapIn" />
      <wsdl:output message="tns:AddFileToQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a file to the indexing queue</wsdl:documentation>
      <wsdl:input name="AddFileToQueueName" message="tns:AddFileToQueueNameSoapIn" />
      <wsdl:output name="AddFileToQueueName" message="tns:AddFileToQueueNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of documents that match the search fields (dsGenerics is a dataset for searching the generic indexes with columns 'Label' and 'Value')</wsdl:documentation>
      <wsdl:input name="SearchUDSId" message="tns:SearchUDSIdSoapIn" />
      <wsdl:output name="SearchUDSId" message="tns:SearchUDSIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of documents that match the search fields (dsGenerics is a dataset for searching the generic indexes with columns 'Label' and 'Value')</wsdl:documentation>
      <wsdl:input name="SearchUDSName" message="tns:SearchUDSNameSoapIn" />
      <wsdl:output name="SearchUDSName" message="tns:SearchUDSNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of available document types (and their descriptions) for the selected repository</wsdl:documentation>
      <wsdl:input name="GetDocumentTypeId" message="tns:GetDocumentTypeIdSoapIn" />
      <wsdl:output name="GetDocumentTypeId" message="tns:GetDocumentTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of available document types (and their descriptions) for the selected repository</wsdl:documentation>
      <wsdl:input name="GetDocumentTypeName" message="tns:GetDocumentTypeNameSoapIn" />
      <wsdl:output name="GetDocumentTypeName" message="tns:GetDocumentTypeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the information for generic indexes, 'Label', 'Required', 'Format', 'MaxLength', 'Options'</wsdl:documentation>
      <wsdl:input name="GetGenericIndexesId" message="tns:GetGenericIndexesIdSoapIn" />
      <wsdl:output name="GetGenericIndexesId" message="tns:GetGenericIndexesIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the information for generic indexes, 'Label', 'Required', 'Format', 'MaxLength', 'Options'</wsdl:documentation>
      <wsdl:input name="GetGenericIndexesName" message="tns:GetGenericIndexesNameSoapIn" />
      <wsdl:output name="GetGenericIndexesName" message="tns:GetGenericIndexesNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saves the document to UDS (dsGenerics is a dataset for searching the generic indexes with columns 'Label' and 'Value').</wsdl:documentation>
      <wsdl:input name="SaveToUDSId" message="tns:SaveToUDSIdSoapIn" />
      <wsdl:output name="SaveToUDSId" message="tns:SaveToUDSIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saves the document to UDS (dsGenerics is a dataset for searching the generic indexes with columns 'Label' and 'Value').</wsdl:documentation>
      <wsdl:input name="SaveToUDSName" message="tns:SaveToUDSNameSoapIn" />
      <wsdl:output name="SaveToUDSName" message="tns:SaveToUDSNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate_old">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the value against the validation policy, returns nothing if the policy is not found, 'Valid' if the value is valid, and the reason if invalid.</wsdl:documentation>
      <wsdl:input message="tns:Validate_oldSoapIn" />
      <wsdl:output message="tns:Validate_oldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the value against the validation policy, returns nothing if the policy is not found, 'Valid' if the value is valid, and the reason if invalid.</wsdl:documentation>
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UDSServiceSoap" type="tns:UDSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMultipageTifToQueue">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddMultipageTifToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddFileToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddFileToQueueName" style="document" />
      <wsdl:input name="AddFileToQueueName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddFileToQueueName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SearchUDSId" style="document" />
      <wsdl:input name="SearchUDSId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchUDSId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SearchUDSName" style="document" />
      <wsdl:input name="SearchUDSName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchUDSName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetDocumentTypeId" style="document" />
      <wsdl:input name="GetDocumentTypeId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentTypeId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetDocumentTypeName" style="document" />
      <wsdl:input name="GetDocumentTypeName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentTypeName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetGenericIndexesId" style="document" />
      <wsdl:input name="GetGenericIndexesId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGenericIndexesId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetGenericIndexesName" style="document" />
      <wsdl:input name="GetGenericIndexesName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGenericIndexesName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SaveToUDSId" style="document" />
      <wsdl:input name="SaveToUDSId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveToUDSId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SaveToUDSName" style="document" />
      <wsdl:input name="SaveToUDSName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveToUDSName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate_old">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/Validate_old" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UDSServiceSoap12" type="tns:UDSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMultipageTifToQueue">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddMultipageTifToQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddFileToQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToQueue">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/AddFileToQueueName" style="document" />
      <wsdl:input name="AddFileToQueueName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddFileToQueueName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SearchUDSId" style="document" />
      <wsdl:input name="SearchUDSId">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchUDSId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUDS">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SearchUDSName" style="document" />
      <wsdl:input name="SearchUDSName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchUDSName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetDocumentTypeId" style="document" />
      <wsdl:input name="GetDocumentTypeId">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentTypeId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetDocumentTypeName" style="document" />
      <wsdl:input name="GetDocumentTypeName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentTypeName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetGenericIndexesId" style="document" />
      <wsdl:input name="GetGenericIndexesId">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGenericIndexesId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenericIndexes">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/GetGenericIndexesName" style="document" />
      <wsdl:input name="GetGenericIndexesName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGenericIndexesName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SaveToUDSId" style="document" />
      <wsdl:input name="SaveToUDSId">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveToUDSId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToUDS">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/SaveToUDSName" style="document" />
      <wsdl:input name="SaveToUDSName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveToUDSName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate_old">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/Validate_old" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://uds.devlapps2.mrdd1.ad.mr.state.oh.us/uds_services/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UDSService">
    <wsdl:port name="UDSServiceSoap" binding="tns:UDSServiceSoap">
      <soap:address location="http://uds.devlds.mrdd1.ad.mr.state.oh.us/UDSService.asmx" />
    </wsdl:port>
    <wsdl:port name="UDSServiceSoap12" binding="tns:UDSServiceSoap12">
      <soap12:address location="http://uds.devlds.mrdd1.ad.mr.state.oh.us/UDSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>